@import "var";
@import "modules/cart";
@import "modules/catalog";
@import "modules/buttons";



.container-currency {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(12rem, 1fr));
  grid-template-rows: repeat(5, 15rem);
  gap: 10px;
  flex-wrap: wrap;

}

