@import "var";
@import "modules/cart";
@import "modules/catalog";
@import "modules/buttons";
@import "modules/header";

.main{
  margin: 0 auto;

}



.container-currency {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(12rem, 1fr));
  grid-template-rows: repeat(1, 15rem);
  gap: 10px;
  flex-wrap: wrap;

}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5rem;

  a {
    &:hover{
      color: #42b983;
    }
    text-decoration: none;
    padding: 0 10px ;
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}